@font-face {
    font-family: 'exo2.0';
    src: url(../fonts/exo2.0-thin-webfont.woff) format("woff");
    src: url(../fonts/exo2.0-thin-webfont.woff2) format("woff2");
    src: url(../fonts/exo2.0-thin-webfont.eot) format("eot");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'trebuchet';
    src: url(../fonts/trebuchetms-webfont.woff) format("woff");
    src: url(../fonts/trebuchetms-webfont.woff2) format("woff2");
    src: url(../fonts/trebuchetms-webfont.eot) format("eot");
    font-style: normal;
    font-weight: 400;
}